* {
	margin: 0px;
	padding: 0px;
}

.heading {
	color: #fff;
	background: #337AB7;
	text-transform: uppercase;
	padding: 20px;
	font-size: 16px;
	letter-spacing: 1px;
	margin-bottom: 50px;
}

.btn, .form-control {
	border-radius: 0px;
	width: 100%;
}

p {
	color: #337AB7;
}