<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="mt-3"></div>
		<div class="row">

			<div class=" col-md-6 mt-3 mb-3">
				<h6>JavaScript Select/Option OnChange</h6>
				<div class="col-md-6">
					<br /> <select class="form-select form-select-sm ml-5 mb-2"
						id="select1">
						<option selected disabled value="itemsperpage">-- 1
							Select an Option --</option>
						<option value="Value1">Option1</option>
						<option value="Value2">Option2</option>
						<option value="Value3">Option3</option>
					</select>
				</div>
				<br />
				<div class="col-md-6">
					<select class="form-select form-select-sm ml-5 mb-2" id="select2">
						<option selected disabled value="itemsperpage">-- 2
							Select an Option --</option>
						<option value="Value1">Option1</option>
						<option value="Value2">Option2</option>
						<option value="Value3">Option3</option>
					</select>
				</div>
				<br /> <br /> <br />
			</div>

			<div class=" col-md-6 mt-3 mb-3">
				<h6>XMLHttpRequest (Old API)</h6>
				<button type="button" onclick="loadAndShowJSON()">Show JSON
					Data</button>
				<div id="showJSONDataHere"></div>
			</div>

			<div class=" col-md-6 mt-3 mb-3">
				<h6>AutoLoad Using Fetch (New API)</h6>
				<button type="button" id="disableThisButton">No Action Required</button>
				<table class="table table-striped">
					<tr class="bg-light">
						<th>id</th>
						<th>username</th>
						<th>useremail</th>
						<th>useraddress</th>
					</tr>

					<tbody id="appDataTable1">

					</tbody>
				</table>
			</div>
			<div class=" col-md-6 mt-3 mb-3">
				<h6>Load On Click Using Fetch (New API)</h6>
				<button type="button" onclick="drawDataInTable()">Click To
					Load</button>

				<table class="table table-striped">
					<tr class="bg-light">
						<th>id</th>
						<th>username</th>
						<th>useremail</th>
						<th>useraddress</th>
					</tr>

					<tbody id="appDataTable2">

					</tbody>
				</table>
			</div>
			<div class=" col-md-6 mt-3 mb-3">
				<button type="button" onclick="userIdBasedDetails()">Populate/Get User Id(s)</button>
				<select class="form-select form-select-sm mt-2 mb-2" id="select3"></select>
				<table class="table table-borderless">
					<tr class="bg-light">
						<th>id</th>
						<th>username</th>
						<th>useremail</th>
						<th>useraddress</th>
					</tr>

					<tbody id="dynaDataTable">

					</tbody>
				</table>
			</div>
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
		</div>
	</div>
</body>

<script type="text/javascript" th:src="@{/js/getsetcookie.js}"></script>
<script type="text/javascript" th:src="@{/js/onloadshowjson.js}"></script>
<script type="text/javascript" th:src="@{/js/select1.js}"></script>
<script type="text/javascript" th:src="@{/js/select2.js}"></script>
<script type="text/javascript" th:src="@{/js/autoload.js}"></script>
<script type="text/javascript" th:src="@{/js/onbuttonclickload.js}"></script>
<script type="text/javascript" th:src="@{/js/showjson.js}"></script>
<script type="text/javascript" th:src="@{/js/dynamicdropdown.js}"></script>


</html>