<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="mt-3 row">
			<div class="col-md-3">
				<a href="/" th:href="@{/}">Home Page</a>
			</div>
			<div class="col-md-3">
				<a href="/modal" th:href="@{/modal}">Modal Page</a>
			</div>
			<div class="col-md-3">
				<a href="/crud" th:href="@{/crud}">CRUD Example</a>
			</div>
			<div class="col-md-3">
				<a href="/crud2" th:href="@{/crud2}">CRUD 2 Example</a>
			</div>

		</div>
		<div class="mt-3 row">
			<div class="col-md-3">
				<a href="/jsontotable" th:href="@{/jsontotable}">JsonToTable</a>
			</div>
			<div class="col-md-3">
				<a href="/jsontopresentable" th:href="@{/jsontopresentable}">JsonToPresenTable</a>
			</div>

		</div>


		<div class="row mt-5">
			<div id="someContainer"></div>
		</div>

	</div>
</body>

<script type="text/javascript" th:src="@{/js/jsontopresentableview.js}"></script>

</html>