<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/css/modal.css}" rel="stylesheet">

</head>
<body>
	<div class="container">
	<div class="mt-3 col-md-12">
		<a href="/" th:href="@{/}">Index/Home Page</a>
		</div>
		<h3 class="mt-3 mb-3">Pure/Vanilla JavaScript Modal</h3>

		<h4>Sizes</h4>
		<p>
			<button data-target="simpleModal_1" data-toggle="modal" class="btn btn-sm btn-danger">A
				Basic Modal</button>
			<button data-target="simpleModal_2" data-toggle="modal" class="btn btn-sm btn-primary">A
				Large Modal</button>
			<button data-target="simpleModal_3" data-toggle="modal" class="btn btn-sm btn-success">A
				Small Modal</button>
		</p>

		<h4>Trigger</h4>
		<p>
			<button data-target="simpleModal_4" data-toggle="modal" class="btn btn-sm btn-danger">Trigger
				with a Button</button>
			<a href="#" data-target="simpleModal_5" data-toggle="modal">Trigger
				with a Link</a>
		</p>

		<h4>Dismiss</h4>
		<p>
			<button data-target="simpleModal_6" data-toggle="modal" class="btn btn-sm btn-primary">Dismiss
				modal with [&times;] button</button>
			<button data-target="simpleModal_7" data-toggle="modal" class="btn btn-sm btn-success">Dismiss
				modal with a custom button</button>
		</p>

		<div id="simpleModal_1" class="modal">
			<div class="modal-window">
				<h3>A Basic Modal</h3>

				<p>Pure Java Script based Modal Dialog. Feel the speed.!</p>
			</div>
		</div>


		<div id="simpleModal_2" class="modal">
			<div class="modal-window large">
				<h3>A Large Modal</h3>

				<p>Pure Java Script based Modal Dialog. Feel the speed.!</p>
			</div>
		</div>


		<div id="simpleModal_3" class="modal">
			<div class="modal-window small">
				<h3>A Small Modal</h3>

				<p>Pure Java Script based Modal Dialog. Feel the speed.!</p>
			</div>
		</div>


		<div id="simpleModal_4" class="modal">
			<div class="modal-window">
				<h3>Triggered with a Button Modal</h3>

				<p>Pure Java Script based Modal Dialog. Feel the speed.!</p>
			</div>
		</div>


		<div id="simpleModal_5" class="modal">
			<div class="modal-window">
				<h3>Triggered with a Link Modal</h3>

				<p>Pure Java Script based Modal Dialog. Feel the speed.!</p>
			</div>
		</div>

		<div id="simpleModal_6" class="modal">
			<div class="modal-window">
				<span class="close" data-dismiss="modal">&times;</span>
				<h3>Dismiss this modal with [&times;] button</h3>

				<p>Pure Java Script based Modal Dialog. Feel the speed.!</p>
			</div>
		</div>

		<div id="simpleModal_7" class="modal">
			<div class="modal-window">
				<h3>Dismiss with a the button</h3>
				<p>Pure Java Script based Modal Dialog. Feel the speed.!</p>
				<button data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" th:src="@{/js/modal.js}"></script>
</html>